@model IEnumerable<SocialNetwork.PL.Models.UsersViewModel>

@{
    ViewBag.Title = "Add Friends";
}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title>KPInet Web App</title>
    </head>
    <body>
        <h3>MY FRIENDS:</h3>
        <table>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Name) @Html.DisplayFor(model => item.SurName)</td>
                </tr>
            }
        </table>
    </body>
</html>
